@model bankingApp.WebApp.Models.ViewModels.PaymentViewModels.PaymentDTO

<form id="paymentForm">
    <!-- Hidden field for Date -->
    <input type="hidden" id="Date" name="Date">

    <div class="form-group">
        <label for="Amount">Amount</label>
        <input type="number" class="form-control" id="Amount" name="Amount" required min="0.01" step="any">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#paymentForm").submit(function (event) {
                event.preventDefault();

                // Set the current date and time
                $("#Date").val(new Date().toISOString());

                if (!validateForm()) {
                    return; // Stop the submission if validation fails
                }

                var formData = {
                    Date: $("#Date").val(),
                    Amount: parseFloat($("#Amount").val())
                };
                console.log(formData);

                $.ajax({
                    type: "POST",
                    url: 'https://localhost:7070/api/Transactions/payment',
                    contentType: "application/json",
                    data: JSON.stringify(formData),
                    success: function (response) {
                        console.log("Payment made successfully");
                        window.location.href = '/';
                    },
                    error: function (response) {
                        console.log(response);
                        console.error("Error in making payment");
                        // Display error message
                        alert("Failed to make payment. Please try again.");
                    }
                });
            });

            function validateForm() {
                var isValid = true;
                var amount = $("#Amount").val();

                // Validate Amount
                if (!amount || isNaN(amount) || parseFloat(amount) <= 0) {
                    alert("A valid amount greater than zero is required.");
                    isValid = false;
                }

                return isValid;
            }
        });
    </script>
}